.primary-color{ background-color: #9ED0E0 !important; }
.secondary-color{ background-color: #FF6A38 !important; }

.copy-icon{
    width: 1rem;
    cursor: pointer;
    margin-left: 5px;
}

.borderline-primary{ border-bottom: 2px solid  #9ED0E0; }